<ion-header [translucent]="true">
  <ion-toolbar color="warning" class="titulo-confirclase">
    <ion-title>Clase Finalizada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <!-- Botón de retroceso debajo del título -->
  <div class="back-button-container">
    <ion-buttons>
      <ion-back-button default-href="/logindocente" text="Atrás"></ion-back-button>
    </ion-buttons>
  </div>

  <ion-card>
    <!-- Imagen centrada -->
    <div class="img-confirmar" style="display: flex; justify-content: center; margin-top: 20px;">
      <img alt="Clase Finalizada" src="../../../assets/img/Fondo-confir-clase2.webp" style="max-width: 100%; height: auto;" />
    </div>

    <!-- Título y subtítulo de la confirmación -->
    <ion-card-header>
      <ion-card-title>Confirmación de Clase</ion-card-title>
      <ion-card-subtitle>Estimado(a) Freddy Campos,</ion-card-subtitle>
    </ion-card-header>

    <!-- Mensaje de confirmación -->
    <ion-card-content>
      Le confirmamos que su clase del día [fecha] ha sido registrada correctamente. Para cualquier duda, por favor, contacte al área correspondiente.
    </ion-card-content>
  </ion-card>

  <!-- Botones -->
  <div style="justify-content: center; margin-top: 20px; padding: 0 20px;">
    <ion-button expand="block" color="success" (click)="downloadPDF()">Descargar PDF</ion-button>
  </div>
</ion-content>
