.background {
    --background: #f8f8f8;
}

.btn-seccion {
    text-align: center;
}

.back-button-container {
    margin: 10px;
}

.btn-guardar-clase {
    margin-top: 20px;
    padding: 10px;
}

.btn-volver {
    margin-top: 20px;
    padding: 10px;
}