.btn-guardar-clase {
    text-align: center;
}

.btn-seccion {
    text-align: center;
    border-radius: 0 0 10px 10px;
}

ion-content {
    --background: #6d6d6d;
}

.back-button-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 16px;
}