.titulo-reprobados {
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.Reprobado {
    color: firebrick;
}

.img-docente img {
    border-radius: 15px 15px 15px 15px;
    padding: 13px;
}

ion-content {
    --background: #6d6d6d;
  }