.logo-camara {
    text-align: center;
    padding: 30px;
}

.btn-confirmacion {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.titulo-acce-camera {
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.contenido-camara {
    text-align: center;
}

.contenido-acces-camara {
    margin-top: 50px;
}

ion-content {
    --background: #6d6d6d;
}